@model IEnumerable<PruebaFalabella.Models.GenVenta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Ventas</h2>

<p>
    @Html.ActionLink("Crear Nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmailAsesor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimerNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAsesor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoDocumento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimerNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimerApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegundoApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.ActionLink("Detalles", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
<footer>
    <p>
        @Html.ActionLink("Menu Principal", "Index","Home")
    </p>
</footer>

